{% extends "_base.html" %}
{% block title %}Logged out{% endblock %}

{% block content %}
<h1>Logged out</h1>
<p>You have been successfully logged out. <a href="{% url 'account:login' %}">Log in</a> again?</p>
{% endblock content %}
