{% extends "_base.html" %}
{% block title %}Log in{% endblock title %}

{% block content %}
<h1>Log in</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Log in</button>
</form>
<p><a href="{% url "account:password_reset" %}">Forgotten your password?</a></p>
{% endblock content %}
