{% extends "_base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}
<h1>Reset your password</h1>
{% if validlink %}
<p>Please enter your new password twice:</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change my password</button>
</form>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
</p>
{% endif %}
{% endblock content %}
