{% extends "_base.html" %}
{% block title %}Password change{% endblock %}

{% block content %}
<h1>Change your password</h1>
<p>Use the form below to change your password.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change</button>
</form>
{% endblock content %}
