{% extends "_base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}
<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send e-mail</button>
</form>
{% endblock content %}
