{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block extra_stylesheets %}
{% comment %} Can put extra css styles into a tempalate like so:
<link rel="stylesheet" href="{% static 'css/example.min.css' %}"> {% endcomment %}
{% endblock extra_stylesheets %}

{% block content %}
{% comment %} Can use includes, such as: {% include "includes/_example_navbar.html" %} {% endcomment %}

<h1>Home page</h1>

<p>The random number is: {{ number }}</p>
{% if request.user.is_authenticated %}
{% comment %} This will work for a user model with a username, and if you opt for the email registration
custom model, then this will display their email address instead.
In practice, you should only need one of these variables. {% endcomment %}
<p>Hello {% firstof request.user.first_name request.user.display_name request.user.username request.user.email %}</p>
{% endif %}
{% endblock content %}
